.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header__title-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.header__logo {
    width: var(--size-9xl);
    height: var(--size-9xl);
    object-fit: contain;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.header__title {
    font-family: var(--font-secondary);
    font-size: var(--size-6xl);
}

.header__menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.header__id {
    text-decoration: none;
    color: black;
    font-size: var(--size-2xl);
}

.header__separator {
    border: 1px solid #4b505a;
    transform: rotate(20deg);
}

@media (max-width: 375px) {
    .header {
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .header__title-container {
        display: block;
    }

    .header > * + * {
        margin-top: 1rem;
    }

    .header__logo {
        width: var(--size-7xl);
        height: var(--size-7xl);
    }

   .header__title {
    font-size: var(--size-3xl);
   }

   .header__menu {
    padding: 0 2rem;
   }

   .header__id {
    font-size: var(--size-base);
    margin: 0;
   }
}
